@page
@{
    ViewData["Title"] = "Consumer";
}

<h2>Consumers Only Here</h2>

<p>You (@User.Identity!.Name) should only be allowed to see this if you are authenticated with the identity provider for consumers.</p>